div {
  background-image: url(../资源/641.png)
}
.png1 {
background-position: -205px -80px ;
width: 95px;
height: 96px;
}
.png2 {
background-position: -60px -50px ;
width: 100px;
height: 150px;
}
.png3 {
background-position: -270px -830px ;
width: 98px;
height: 120px;
}
.png4 {
background-position: -310px -300px ;
width: 95px;
height: 96px;
}
.png5 {
background-position: -100px -565px ;
width: 360px;
height: 80px;
}